<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="DevCampConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=DevCamp;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true"/>
        </system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>